.buy-form {
  width: 327px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  margin-top: -35px;
}

.buy-form ul {
  list-style: none;
  padding-left: 0;
}

.buy-form input {
  width: 100%;
  min-height: 48px;
  border: 1px solid #c9ccd4;
  border-radius: 6px;
  font-size: 15px;
  color: #1c1c1c;
  padding-top: 7px;
  padding-left: 26px;
  margin-bottom: 20px;
}

.buy-form input::placeholder {
  opacity: 0.5;
}

.buy-form input[type="submit"] {
  min-height: 51px;
  padding: 0;
  background-color: #0ad9c6;
  font-family: $font;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  border-color: #0ad9c6;
}

.buy-form input:hover,
.buy-form input:focus,
.buy-form input:active {
  opacity: 0.7;
}

@media (max-width: $tablet-width) {
  .buy-form {
    background-color: #ffffff;
    width: 100%;
    margin-top: 63px;
    padding-left: 223px;
    padding-right: 223px;
    padding-top: 52px;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.005em;
  }

  .buy-form input {
    padding-left: 20px;
    padding-top: 3px;
  }

  .buy-form p {
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-width) {
  .buy-form {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 51px;
  }

  .buy-form p {
    margin-bottom: 20px;
  }

  .buy-form input {
    padding-left: 24px;
  }
}
